<h1>Undead Journal</h1>

<% if @posts.any? %>
  <ul>
    <% @posts.all.each do |post| %>
      <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
  </ul>
<% else %>

  There aren't any posts on this blog yet.
  Do you want to <%= link_to 'add one?', new_post_path %>

<% end %>

<% if @posts.any? %>
  <hr>
  <%= link_to 'Add a new post', new_post_path %>
<% end %>
